<form>
    <p-fieldset legend="Informations Personnelles">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon label">Nom</span>
                    <!--input type="text" pInputText [(ngModel)]="resume.lastname" -->
                    <input type="text"  value="DAMMAK" width="400px">
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon label">Prenom</span>
                   <!-- <input type="text" pInputText [(ngModel)]="resume.firstame" >-->
                    <input type="text" value= "Ahmed" width="400px">
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon label">Email</span>
                    <!--<input type="text" pInputText [(ngModel)]="resume.email" >-->
                    <input type="text" value= "ahmed@dammak.net" width="400px">

                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon label">Telephone</span>
                   <!-- <input type="text" pInputText [(ngModel)]="resume.phone" >-->
                    <input type="text" value= "00 33 6 40 95 66 65" width="400px">


                </div>
            </div>
        </div>
    </p-fieldset>
</form>


<p-button label="OK" style="float: right">
        <a class="dropdown-item" routerLink="/candidate" routerLinkActive="active">
    </a>
</p-button>-
