
        <p-dataView #dv [value]="candidates">
            <p-header>
                <div class="ui-helper-clearfix">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-4">
                            Liste des candidats
                        </div>
                        <div class="ui-g-6 ui-md-4 filter-container">

                        </div>
                        <div class="ui-g-6 ui-md-4" style="text-align:right">
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </div>
                </div>
            </p-header>
            <ng-template let-candidate pTemplate="listItem">
                <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                    <div class="ui-g-12 ui-md-3" style="text-align:center">
                        <i class="fa fa-user fa-2x"></i> <!--src="assets/showcase/images/demo/car/{{car.brand}}.png">-->
                    </div>
                    <div class="ui-g-12 ui-md-8 car-details">
                        <div class="ui-g">
                            <div class="ui-g-2 ui-sm-6">Nom: </div>
                            <div class="ui-g-10 ui-sm-6"><b>{{candidate.nom}}</b></div>

                           <!-- <div class="ui-g-2 ui-sm-6">Year: </div>
                            <div class="ui-g-10 ui-sm-6"><b>{{car.year}}</b></div>-->

                            <div class="ui-g-2 ui-sm-6">Prenom: </div>
                            <div class="ui-g-10 ui-sm-6"><b>{{candidate.prenom}}</b></div>

                            <div class="ui-g-2 ui-sm-6">Compétences: </div>
                            <div class="ui-g-10 ui-sm-6"><b>{{candidate.competences}}</b></div>

                            <!--<div class="ui-g-2 ui-sm-6">Color: </div>
                            <div class="ui-g-10 ui-sm-6"><b>{{car.color}}</b></div>-->
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-1 search-icon">
                        <a [routerLink]="['/resume', candidate.id]" type="button"> <i class="fa fa-search fa-2x"></i></a>
                    </div>
                </div>
            </ng-template>
            <ng-template let-candidate pTemplate="gridItem">
                <div style="padding:.5em" class="ui-g-12 ui-md-3">
                    <p-panel [header]="candidate.id" [style]="{'text-align':'center'}">
                        <i class="fa fa-user fa-2x"></i>
                        <div class="car-detail">{{candidate.nom}} - {{candidate.prenom}} - {{candidate.competences}}</div>

                        <a [routerLink]="['/resume', candidate.id]"> <button type="button" icon="fa-search"></button></a>
                    </p-panel>
                </div>
            </ng-template>
        </p-dataView>



