<p-accordion>
    <p-accordionTab header="Header 1"  *ngFor="let candidature of candidatures" [selected]="true">

        <p-header>
            Intitule offre : {{candidature.nomPoste}}
        </p-header>

        <div class="container">
            <div class="wrapper">
                <div class="arrow-steps clearfix">
                    <div class="step current"> <span> CV enregistré</span> </div>
                    <div class="step"> <span>CV validé</span> </div>
                    <div class="step current"> <span> CV non retenu</span> </div>
                    <div class="step"> <span>Entretien</span> </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" style="float: right;margin-top: -3em">Annuler ma candidature</button>
    </p-accordionTab>
</p-accordion>

