<p-accordion>
    <p-accordionTab header="Header 1"  *ngFor="let candidature of candidatures">

        <p-header>
            Id : {{candidature.idPoste}}
        </p-header>

        <div class="container">
            <div class="wrapper">
                <div class="arrow-steps clearfix">
                    <div class="step current"> <span> Step 1</span> </div>
                    <div class="step"> <span>Step 2 some words</span> </div>
                    <div class="step"> <span> Step 3</span> </div>
                    <div class="step"> <span>Step 4</span> </div>
                </div>
            </div>
        </div>
    </p-accordionTab>
</p-accordion>

