<div class="ui-g">
    <div class="ui-g-6">
        <p-panel header="LinkedIn">
            <input id="float-input" type="text" size="30" placeholder="URL" pInputText>
        </p-panel>
    </div>
    <div class="ui-g-6">
        <p-fileUpload name="demo[]" url="./upload.php"
                      accept=".pdf" maxFileSize="1000000" chooseLabel="Parcourir..." [showUploadButton]="false" [showCancelButton]="false">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFile">
                    <li>{{uploadedFile.name}} - {{uploadedFile.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>
</div>
<p-button label="OK" style="float: right" (onClick)="save($event)"></p-button>
